.logosProfileImgDiv {
  position: relative;
  margin-top: 3%;
  align-self: center;
  width: 283px;
  height: 240px;
}
.logosProfileImgDiv img {
  width: 250px;
  height: 217px;
  border-radius: 25%;
}

.logosProfileImgDiv::after {
  content: "";
  border-radius: 25%;
  background: linear-gradient(
    90deg,
    rgba(255, 87, 34, 1) 0%,
    rgba(205, 220, 57, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  width: 262px;
  height: 228px;
}
